.s-main-container {
	display: grid;
	grid-template-columns: auto 1fr;
	height: 100vh;
	width: 100vw;
	grid-template-areas:
	"s-sidebar s-main" 
	"s-sidebar s-footer"
}

.s-aside {
	grid-area: s-sidebar;
}

.s-main {
	grid-area: s-main;
}

.s-footer {
	grid-area: s-footer;
}