.s-sidebar-container {
	position: sticky;
	top: 0;
	left: 0;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.1fr 1fr 0.1fr;
	grid-template-areas: 
	"header-section"
	"category-section"
	"bottom-section";
	background-color: blue;
	color: white;
	text-align: center;
}

.s-sidebar-header {
	grid-area: header-section;
	font-size: 1.6rem;
	display: grid;
	place-items: center;
}

.s-sidebar-middle-section {
	grid-area: category-section;
	display: flex;
	flex-direction: column;
}

.s-sidebar-middle-section div {
	padding: 10px;
	width: 100%;
	border-style: ;
	cursor: pointer;
	transition: 0.3s;
}

.s-sidebar-middle-section div:hover {
	background-color: rgba(0, 0, 0, 0.1);
	color: #ff9800;
}

.s-sidebar-bottom-section {
	grid-area: bottom-section;
}